@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #6496c8;
  /* equivalent hex value */
}

.border-style {
  border: none;
  border-bottom: 1px solid grey;
}

